// 运输中，待取件，签收等  转换
function babyActionTranfer(action) {
  var str = '';
  switch (action) {
    case 'drink':
      str = '喝奶粉';
      break;
    case 'breast':
      str = '母乳';
      break;
    case 'shit':
      str = '拉粑粑';
      break;
    case 'pee':
      str = '嘘嘘';
      break;
  }
  return str;
}

module.exports = {
  babyActionTranfer: babyActionTranfer,
};
